body {
    background-color: #005c99;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 64px;
    font-family: 'Bungee Inline', cursive;
    border: 23px groove #e60000;
    padding: 8px;
    margin: 20px;
    line height: 1.6px;
}

h2 {
    color: #000066;
    font-size: 40px;
    font-family: 'Hammersmith One', sans-serif;
    border-left: 6px solid #e60000; 
    border-right: 6px solid #e60000;
    background-color: #99bbff;
    text-align: center;
}


p {
    color: #ffffff;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    line height; 1.6px;
}

img {
     max-width: 100%;
     display: block;
     margin: auto;
}

}

a:link {
    color: #e60000;
    text-decoration: none;

}

a:visited {
    color: #ff6666;
    text-decoration: underline;

}

a:hover {
    color: #33ccff;
    text-decoration: underline;
}

a:active {
    color: #800000;
}


@media (max-width: 700px) {

    h1 {
        font-size: 36px;
        line-height: 1.1;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 20px;
    }
